<div class="row mx-auto bg-dark ">
    <div class="container header-superior border border-dark rounded">
        <div id="logo">
            <img src="../../../assets/APLogo.png">
            <h4>#YoProgramo</h4>
         </div>
       
        <div id="social-login">

            <a href="https://www.facebook.com/gabriela.gonzalez.313" ><img src="../../../assets/facebook.png" id="facebook" alt="Icono facebook"></a>
            <a href="https://twitter.com/gabyrm2512" ><img src="../../../assets/twitter.png" id="twiter" alt="Icono Twiter"></a>
            <a href="https://www.instagram.com/gabrielagonzalezponti/" ><img src="../../../assets/instagram.png" id="instagram" alt="Icono Instagram"></a>
            <a href="" ><img src="../../../assets/linkedin.png" id="linkedin" alt="Icono linkedin"></a>
            <a href="" ><img src="../../../assets/github.png" id="github" alt="Icono Github"></a>

            <button class="btn btn-outline-light" style="font-size:20px bold"  type="submit" (click)="login()" *ngIf="!isLogged">LogIn</button>
            <button class="btn btn-outline-light" style="font-size:20px bold"  type="submit" (click)="onLogOut()" *ngIf="isLogged">LogOut</button>
        </div> 
    </div>    


    

    <div class="container mx-auto" id="banner">
        <img src="../../../assets/banner.png" alt="Imagen banner 1" class="img-fluid d-block mx-auto border border-dark rounded">
       <!-- <img src="../../../assets/fondo-foto-perfil.png" alt="Imagen banner 2" class="img-fluid d-block  float-end">
-->
    </div>


