<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEd">Nombre de la institución</label>
                    <input type="text" class="form-control" id="nombreEd" name="nombreEd" [(ngModel)]="nombreEd"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcionEd">Descripcion de formación educativa</label>
                    <input type="text" class="form-control" id="descripcionEd" name="descripcionEd"
                        [(ngModel)]="descripcionEd" required>
                </div>
                <!--               
                <div class="form-group">
                    <label for="img">Imagen formato .jpg/.jpeg/.png</label>
                    <!--<input type="file" class="form-control" id="img" name="img" [(ngModel)]="perso.img" required
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="imgEd"   
                     accept=".jpg, .jpeg, .png">
                </div>
                <br>-->
                <div class="form-group">
                    <label for="imagenEd">Ingrese la URL de la imagen</label>
                    <input type="text" class="form-control" id="imagenEd" name="imagenEd"
                        [(ngModel)]="imgEd" required>
                </div>
                <br>

            
                <button class="btn btn-primary">Agregar educación</button>

            </form>
        </div>
    </div>
</div>