<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEd">Nombre del proyectolabel></label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP"
                        required>
                </div>

                <div class="form-group">
                    <label for="descripcionP">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP"
                        [(ngModel)]="proyecto.descripcionP" required>
                </div>

                <div class="form-group">
                    <label for="linkP">URL del proyecto</label>
                    <input type="url" class="form-control" id="linkP" name="linkP"
                        [(ngModel)]="proyecto.linkP" required>
                </div>

                <button class="btn btn-primary">Actualizar proyecto</button>

            </form>
        </div>
    </div>
</div>
