<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP"
                        [(ngModel)]="descripcionP" required>
                </div>
                <div class="form-group">
                    <label for="linkP">URL del proyecto</label>
                    <input type="url" class="form-control" id="linkP" name="linkP"
                        [(ngModel)]="linkP" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="imagenP">Ingrese la URL de la imagen del proyecto</label>
                    <input type="text" class="form-control" id="imagenP" name="imagenP"
                        [(ngModel)]="imgP" required>
                </div>
                <br>

                <button class="btn btn-primary">Agregar proyecto</button>

            </form>
        </div>
    </div>
</div>
