<div class="row mx-auto bg-dark p-2 border border-2 rounded  border-info ">
    <div id="proyectos">
        <h1>Proyectos realizados</h1>
        <img src="../../../assets/proyectos.png"  class="img_proyectos" alt="logo proyectos">
        <button type="button" id="btn_agregar" class="btn btn-outline-light" routerLink="/nuevoproyecto" *ngIf="isLogged" style="float:right">Agregar proyecto</button>
    </div>
    
    <div class="col lg 1"></div>
    <!--hay que arreglar par pantallla pequeña-->
    <div class="col-lg-11"></div>
    <table class="table">
        <tbody>
            <tr *ngFor="let Proyectos of proyecto">
                <td>
                    <img src={{Proyectos.imgP}} width="100px" height="100px" >
                </td>
                <td>
                    <h4>{{Proyectos.nombreP}}</h4>
                </td>
                <td>{{Proyectos.descripcionP}}</td>
                <td><a href="{{Proyectos.linkP}}"> {{Proyectos.linkP}}</a></td>

                <td *ngIf="isLogged">
                    <button class="btn btn-light rounded-circle mx-1" routerLink="/editproyecto/{{Proyectos.id}}">
                        <abbr title="Click para EDITAR PROYECTO" style="font-size: 1rem bold"> <i class="bi bi-pencil-fill"
                            style="font-size: 1rem"></i>
                    </abbr>

                    </button>
                </td>

                <td *ngIf="isLogged">
                    <button class="btn btn-light rounded-circle" (click)="delete(Proyectos.id)">
                        <abbr title="Click para ELIMINAR PROYECTO"> <i class="bi bi-trash3-fill"
                            style="font-size: 1rem"></i>
                    </abbr></button>
                </td>
            </tr>
        </tbody>

    </table>

</div>
